{% extends 'base.html.twig' %}

{% block main %}
<section class="content">
  <ul class="tiles featured">
  {% for each in blog if each.featured %}
    <li>
      <a class="ajax-nav" href="{{ ('blog/' ~ each.link) | absolute }}">
        <span class="image background" data-background="{{ (data.image.destination ~ each.image) | absolute }}" >
        </span>
        <span class="name-hold">
          <span class="author">{{ each.user.name }}</span>
          <span class="name">{{ each.name }}</span>
          <span class="description">{{ each.description }}</span>
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
  <ul class="tiles highlight">
  {% for each in blog %}
    <li>
      <a class="ajax-nav" href="{{ ('blog/' ~ each.link) | absolute }}">
        <span class="image background" data-background="{{ (data.image.destination ~ each.image) | absolute }}" >
        </span>
        <span class="name-hold">
          <span class="author">{{ each.user.name }}</span>
          <span class="name">{{ each.name }}</span>
          <span class="description">{{ each.description }}</span>
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}
