{% extends 'base.html.twig' %}

{% block main %}
<section class="header-image full-height">
  <div class="background" data-background="{{ (data.image.destination ~ content.header) | absolute }}"></div>
  <div class="middle title">
    <h1>{{ content.name }}</h1>
    <p>{{ content.description }}</p>
    <p class="author">{{ content.user.name }}</p>
    <ul class="share">
      {% for each in sociallink %}
        <li>
          <a target="_blank" class="{{ each.name }}" href="{{ each.link }}">
            <span class="text"></span>
            <span class="count">{{ each.count }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
<section class="markdown center">
  {{ content.content | markdown }}
</section>
<section class="center comments">
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
{% endblock %}

{% block script %}article{% endblock %}
