{% extends 'base.html.twig' %}

{% block main %}
<section class="content">
  <h1>{{ content.name }}</h1>
  <p>{{ content.description }}</p>
  <ul class="stay container">
    {% for each in content.blog %}
      <li class="mix static">
        <a class="ajax-nav" href="{{ ('blog/' ~ each.link) | absolute }}">
          <span class="background" data-background="{{ (data.image.destination ~ each.image  ) | absolute }}"></span>
          <ul class="caption">
            <li>{{ each.name }}</li>
            <li class="description">{{ each.description }}</li>
            <li class="author">{{ each.user.name }}</li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
