{% extends 'base.html.twig' %}

{% block main %}
<section class="title">
  <div class="center">
    <h1>{{ content.name }}</h1>
    <span class="inline-child">
      <span class="location"><a class="ajax-nav" href="{{ ('country/' ~ content.destination.country.link) | absolute }}">{{ content.destination.country.name }}</a><a class="ajax-nav" href="{{ ('destination/' ~ content.destination.link) | absolute }}">{{ content.destination.name }}</a></span>
      <ul class="rating">
        {% for i in 1..content.rating %}
          <li></li>
        {% endfor %}
      </ul>
    </span>
  </div>
</section>
<section class="center cards">
  <table>
    <tr>
      <td>
        <span>
          <span>Arrival</span>
          <span>{{ datetime(values.checkin,'j F Y') }}</span>
        </span>
      </td>
      <td>
        <span>
          <span>{{ values.days }} Days</span>
          <span>{{ values.adults }} Adult / {{ values.children }} Children</span>
        </span>
      </td>
      <td>
        <span>
          <span>Departure</span>
          <span>{{ datetime(values.checkout,'j F Y') }}</span>
        </span>
      </td>
    </tr>
  </table>
</section>
<section class="center">
  <h1>Reservation</h1>
  <ul class="rooms-list">
    {% for each in rooms %}
    <li>
      <img src="{{ (data.image.destination ~ data.image.thumbnail.prefix ~ each.images[0].main_image) | absolute }}" alt="{{ each.name }}"/>
      <span class="name">{{ each.name }}</span>
      <span class="currency">{{ each.price }}</span>
      <span class="capacity">{{ each.adults + each.children }}</span>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
