{% extends 'layout/index.html.twig' %}

{% block main %}
<div class="body">
	<div class="center">
		<div class="title">
			<h1>{{ content.name }}</h1>
		</div>
		<div class="markdown">{{ content.content | markdown }}</div>
		<div class="address">
			<h2>Office</h2>
			<ul>
				{% for key, value in data.address %}
				<li>{{ value }}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="contact">
			<h2>Reach us</h2>
			<ul>
				{% for key, value in data.contact %}
				<li><span>{{ key }}</span><span>{{ value }}</span></li>
				{% endfor %}
			</ul>
		</div>
		<div class="job">
			<h2>Want to join our team?</h2>
			<ul>
				{% for job in content.job %}
				<li>
					<span class="caret"></span>
					<span class="name">{{ job.name }}</span>
					<span class="body">
						<span class="flex">
							<span class="description">{{ job.description_markdown }}</span>
							<span class="qualification">{{ job.qualification_markdown }}</span>
						</span>
						<span class="links">
							<a class="button" href="mailto:{{ data.email.to.address }}?Subject=Applying for {{ job.name }} job">Apply</a>
						</span>
					</span>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
</div>
{% endblock %}
