{% extends 'base.html.twig' %}

{% block main %}
{% if content.countryimage[1] %}
<section class="header-image swipe full-height">
  <div class="swiper-container">
    <div class="swiper-wrapper">
        {% for each in content.countryimage  %}
          <div class="swiper-slide full-height">
            <span class="background" data-background="{{ (data.image.destination ~ each.main_image) | absolute }}">
            </span>
          </div>
        {% endfor %}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="middle title">
      <h1>{{ content.name }}</h1>
      <h2>{{ content.description }}</h2>
    </div>
  </div>
</section>
{% else %}
<section class="header-image full-height">
  <div class="background" data-background="{{ (data.image.destination ~ content.main_image) | absolute }}">
    <div class="middle title">
      <h1>{{ content.name }}</h1>
      <h2>{{ content.description }}</h2>
    </div>
  </div>
</section>
{% endif %}
<section class="center">
<div id="description" class="markdown subdivision">{{ content.content | markdown }}</div>
</section>
<section>
  <div class="line-title"><h2>Where to?</h2></div>
  <div class="controls">
    <a class="filter" data-filter="all">All</a>
    {% for each in content.type %}
      <a class="filter" data-filter=".type{{ each.link_permalink }}">{{ each.name }}</a>
    {% endfor %}
  </div>
  <ul class="stay container">
    {% for each in content.stay %}
      <li class="mix type{{ each.type.link }}">
        <a class="ajax-nav" href="{{ ('stay/' ~ each.link) | absolute }}">
          <span class="background" data-background="{{ (data.image.destination ~ each.image.main_image  ) | absolute }}"></span>
          <ul class="tags">
            {% for activity in each.activity %}
            <li>{{ activity.name }}</li>
            {% endfor %}
          </ul>
          <ul class="caption">
            <li>{{ each.name }}</li>
            <li class="location"><span>{{ each.destination.name }}</span><span>{{ each.destination.country.name }}</span></li>
            <li class="rating">
              {% for i in 1..each.rating %}
                <span></span>
              {% endfor %}
            </li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
<section>
  <div class="line-title"><h2>Where are you from?</h2></div>
  <div class="svg svgmap continentmap" data-svg="{{ ('assets/svg/continents.svg') | absolute }}" data-callback="continentmap"></div>
  <ul class="continentlist">
  {% for each in content.map %}
    <li class="{{ each.link }}">
      <h2>{{ each.name }}</h2>
      <ul class="legends"><li class="inbound">Departure from {{ each.name }}</li><li class="outbound">Departure from {{ content.name }}</li></ul>
      <ul class="tabs">
        {% for row in content.maplist %}
          {% if each.id in row.continent %}
          <li data-id="maplist{{ row.id }}">{{ row.name }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="information">
        {% for row in content.maplist %}
          {% if each.id in row.continent %}
            <li class="maplist{{ row.id }}">
              <table>
                <thead>
                  <tr><td>Depart</td><td>Arrive</td><td>Duration</td><td>Flight</td><td>Layover</td></tr>
                </thead>
                <tbody>
                {% for sep in content.schedule %}
                  {% if row.id in sep.maplist %}
                    <tr class="{% if sep.inbound %}inbound{% else %}outbound{% endif %}"><td>{{ sep.depart }}</td><td>{{ sep.arrive }}</td><td>{{ sep.duration }}</td><td>{{ sep.flight }}</td><td>{{ sep.layover }}</td></tr>
                  {% endif %}
                {% endfor %}
                </tbody>
              </table>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}

{% block script %}stay{% endblock %}
