{% extends 'base.html.twig' %}

{% block main %}
<section class="content">
  <h1>{{ content.name }}</h1>
  <p>{{ content.description }}</p>
  <ul class="stay container">
    {% for each in content.country %}
      <li class="mix static">
        {% if each.disabled == 1 %}
        <a class="disabled">
        {% else %}
        <a class="ajax-nav" href="{{ ('country/' ~ each.link) | absolute }}">
        {% endif %}
          <span class="background" data-background="{{ (data.image.destination ~ each.main_image  ) | absolute }}"></span>
          <ul class="caption">
            <li>{{ each.name }}</li>
            <li class="description">{{ each.description }}</li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
