{% extends 'base.html.twig' %}

{% block main %}
<section class="header-image full-height">
  <div class="background" data-background="{{ (data.image.destination ~ content.main) | absolute }}"></div>
  <div class="middle title">
    <h1>{{ content.name }}</h1>
    <p>{{ content.description }}</p>
  </div>
</section>
<section>
  <div class="line-title"><h2>{{ content.name }} Holidays</h2></div>
  <div class="controls">
    <a class="filter" data-filter="all">All</a>
    {% for each in content.type %}
      <a class="filter" data-filter=".type{{ each.link_permalink }}">{{ each.name }}</a>
    {% endfor %}
  </div>
  <ul class="stay container">
    {% for each in content.stay %}
      <li class="mix type{{ each.type.link }}">
        <a class="ajax-nav" href="{{ ('stay/' ~ each.link) | absolute }}">
          <span class="background" data-background="{{ (data.image.destination ~ each.image.main_image  ) | absolute }}"></span>
          <ul class="tags">
            {% for activity in each.activity %}
            <li>{{ activity.name }}</li>
            {% endfor %}
          </ul>
          <ul class="caption">
            <li>{{ each.name }}</li>
            <li class="location"><span>{{ each.destination.name }}</span><span>{{ each.destination.country.name }}</span></li>
            <li class="rating">
              {% for i in 1..each.rating %}
                <span></span>
              {% endfor %}
            </li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}

{% block script %}stay{% endblock %}
