{% extends 'base.html.twig' %}

{% block main %}
<section id="homeSlider" class="header-image swipe full-height">
  <ul class="swipe-wrap">
    {% for each in content.slides %}
      <li>
        <span class="background" data-background="{{ (data.image.destination ~ each.main_image) | absolute }}">
          <span class="middle">
            <a class="ajax-nav" href="{{ each.link_permalink | absolute }}">
              <h2>{{ each.name }}</h2>
              <p>{{ each.description }}</p>
            </a>
          </span>
        </span>
      </li>
    {% endfor %}
  </ul>
  <a class="navigation previous" onclick='mySwipe.prev()'></a>
  <a class="navigation next" onclick='mySwipe.next()'></a>
  <div class="category">
    <span class="line-title">
      <h2>I want to</h2>
    </span>
    <ul>
      {% for each in content.category %}
        <li>
          <a class="ajax-nav" href="{{ ('category/' ~ each.link_permalink) | absolute }}">
            <span class="background" data-background="{{ (data.image.destination ~ each.fancy_image_120x120) | absolute }}"></span>
            <p>{{ each.name }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}

{% block script %}home{% endblock %}
