{% extends 'base.html.twig' %}

{% block main %}
<section class="header-image small">
  <div class="background" data-background="{{ (data.image.destination ~ content.main) | absolute }}"></div>
  <div class="middle">
    <div class="name">{{ content.name }}</div>
    <div class="description">{{ content.description }}</div>
    <div class="price">
      <span class="currency">{{ content.price }}</span>
      <span>per person</span>
    </div>
  </div>
</section>
<section class="content markdown article">
  {{ content.content | markdown }}
  <div class="center align-center">
    <a class="ajax-nav" href="{{ ('offer/' ~ content.link ~ '/book') | absolute }}">
      <span class="button large">Get this offer</span>
    </a>
  </div>
</section>
{% endblock %}

{% block script %}stay{% endblock %}
