{% extends 'base.html.twig' %}

{% block main %}
<section class="content">
  <h1>{{ content.name }}</h1>
  <p>{{ content.description }}</p>
  <ul class="stay container">
    {% for each in content.package %}
      <li class="mix static">
        <a class="ajax-nav" href="{{ ('package/' ~ each.link) | absolute }}">
          <span class="background" data-background="{{ (data.image.destination ~ each.main_image  ) | absolute }}"></span>
          <ul class="tags">
            {% for activity in each.activity %}
            <li>{{ activity.name }}</li>
            {% endfor %}
          </ul>
          <ul class="caption">
            <li>{{ each.name }}</li>
            <li class="description">{{ each.description }}</li>
            <li class="currency">{{ each.price }}</li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
