{% extends 'base.html.twig' %}

{% block main %}
<section class="header-image full-height">
  <div class="background" data-background="{{ (data.image.destination ~ content.main) | absolute }}"></div>
  <div class="middle title">
    <h1>{{ content.name }}</h1>
    <span class="location"><a class="ajax-nav" href="{{ ('stay/' ~ content.stay.link) | absolute }}">{{ content.stay.name }}</a></span>
    <span class="price"><a class="currency">{{ content.price }}</a></span>
  </div>
</section>
<section class="button">
  <a class="ajax-nav" href="{{ ('package/' ~ content.link ~ '/book') | absolute }}">Book Now</a>
</section>
<section>
  <div class="center markdown">{{ content.content | markdown }}</div>
  <div class="line-title"><h2>Activities</h2></div>
  <div class="icon align-center">
    {% for each in content.activity %}
    <div>
      <span class="background" data-background="{{ (data.image.destination ~ each.fancy_image_120x120) | absolute }}"></span>
      <p>{{ each.name }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block script %}stay{% endblock %}
