{% extends 'base.html.twig' %}

{% block main %}
<section class="content">
  <h1>{{ content.name }}</h1>
</section>
<section class="content markdown">
  {{ content.content | markdown }}
</section>
<section class="center form table">
  <div class="form-return"></div>
  <input class="form-input" type="hidden" name="offer" value="{{ content.name }} "/>
  <div class="row">
    <div class="column label"><label>Full name</label></div>
    <div class="column input"><input class="form-input required" type="text" name="fullname" placeholder="John Doe"/></div>
  </div>
  <div class="row">
    <div class="column label"><label>Email</label></div>
    <div class="column input"><input class="form-input required" type="text" name="email" placeholder="person@example.com"/></div>
  </div>
  <div class="row">
    <div class="column label"><label>Phone Number</label></div>
    <div class="column input"><input class="form-input required" type="text" name="phone" placeholder="+1-541-754-3010"/></div>
  </div>
  <div class="row">
    <div class="column label"><label>Arrival - departure</label></div>
    <div class="column input double">
      <input class="form-input required" type="date" name="from"/>
      <input class="form-input required" type="date" name="to"/>
    </div>
  </div>
  <div class="row">
    <div class="column label"><label>People</label></div>
    <div class="column input double">
      <input class="form-input required" type="text" name="adult" placeholder="Number of Adults" />
      <input class="form-input required" type="text" name="children" placeholder="Number of Children"/>
    </div>
  </div>
  <div class="row">
    <div class="column label"><label>Accomodation</label></div>
    <div class="column input">
      <div class="room-list">
        {% for each in content.room %}
        <div>
          <div class="image"><img src="{{ (data.image.destination ~ data.image.thumbnail.prefix ~ each.images[0].main_image) | absolute }}" alt="{{ each.name }}"/></div>
          <div class="description">
            <div class="inline-child">
              <div class="name">{{ each.name }}</div>
              <div class="currency">{{ each.price }}</div>
            </div>
            <div class="inline-child">
              <div class="adult">{{ each.adults }}</div>
              <div class="children">{{ each.children }}</div>
            </div>
          </div>
          <div class="float-right">
            <input class="form-input" type="hidden" name="roomname[]" value="{{ each.name }}"/>
            <select class="roomcount form-input" name="roomquantity[]" data-price="{{ each.price }}">
              {% for i in 0..5 %}
                <option value="{{ i }}">{{ i }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="price-summary">
        Total: <span class="total currency float-right">0</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column label"><label>Message</label></div>
    <div class="column input"><textarea class="form-input" name="message" placeholder="Any extra notes"></textarea></div>
  </div>
  <div class="row">
    <div class="column label"></div>
    <div class="column input align-right"><a class="button large form-submit">Submit</a></div>
  </div>
</section>
{% endblock %}

{% block script %}staybook{% endblock %}
