{% extends 'base.html.twig' %}

{% block main %}
<section class="center content">
  <h1>{{ content.name }}<span>{{ content.description }}</span></h1>
  <ul class="navigation shadow">
    <li>
      <a class="active" data-filter="*">All</a>
    </li>
    {% for each in type %}
      <li>
        <a data-filter=".{{ each.link }}">{{ each.name }}</a>
      </li>
    {% endfor %}
  </ul>
  <ul class="slabs nav">
  {% for each in stay %}
    <li class="shadow {{ each.type.link }}">
      <a class="ajax-nav" href="{{ ('stay/' ~ each.link) | absolute }}">
        <span class="image background" data-background="{{ (data.image.destination ~ data.image.thumbnail.prefix ~ each.image.main_image) | absolute }}" >
          <span class="block-child">
            <ul class="activity">
              {% for row in each.activity %}
                <li>{{ row.name }}</li>
              {% endfor %}
            </ul>
          </span>
          <span class="starting">
            <span class="currency">{{ each.price.price_float }}</span>
          </span>
        </span>
        <span class="name-hold">
          <ul class="category">
            {% for row in each.category %}
              <li>{{ row.name }}</li>
            {% endfor %}
          </ul>
          <span class="name">{{ each.name }}</span>
          <span class="inline-child">
            <span class="location"><span>{{ each.destination.country.name }}</span><span>{{ each.destination.name }}</span></span>
            <ul class="rating">
              {% for i in 1..each.rating %}
                <li></li>
              {% endfor %}
            </ul>
          </span>
        </span>
      </a>
    </li>
  {% endfor %}
  </ul>
</section>
{% endblock %}

{% block script %}stayall{% endblock %}
