{% extends 'base.html.twig' %}

{% block main %}
{% if content.stayimage[1] %}
<section id="homeSlider" class="header-image swipe full-height">
  <ul class="swipe-wrap">
    {% for each in content.stayimage %}
      <li><span class="background" data-background="{{ (data.image.destination ~ each.main_image) | absolute }}"></span></li>
    {% endfor %}
  </ul>
  <a class="navigation previous" onclick='mySwipe.prev()'></a>
  <a class="navigation next" onclick='mySwipe.next()'></a>
  <div class="middle title">
    <h1>{{ content.name }}</h1>
    <span class="location"><a class="ajax-nav" href="{{ ('country/' ~ content.destination.country.link) | absolute }}">{{ content.destination.country.name }}</a><a class="ajax-nav" href="{{ ('destination/' ~ content.destination.link) | absolute }}">{{ content.destination.name }}</a></span>
  </div>
</section>
{% else %}
<section class="header-image full-height">
  <div class="background" data-background="{{ (data.image.destination ~ images[0].main_image) | absolute }}"></div>
</section>
{% endif %}
<section class="title">
  <div class="center align-center">
    <div id="tripadvisor" data-permalink="{{ content.link }}">{{ content.tripadvisor | raw }}</div>
  </div>
</section>
<section>
  <div class="line-title"><h2>Room Details</h2></div>
  <ul class="stay room container">
    {% for each in content.room %}
      <li class="mix type{{ each.type.link }}" data-room="{{ each.id }}">
        <a>
          <span class="background" data-background="{{ (data.image.destination ~ each.images[0].main_image  ) | absolute }}"></span>
          <ul class="caption">
            <li>{{ each.tagline }}</li>
            <li>{{ each.name }}</li>
            <li class="currency">{{ each.price }}</li>
          </ul>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="roomdetails">
    {% for each in content.room %}
      <div class="specificroom room{{ each.id }}">
        <div class="swipe roomSlider roomSlider{{ each.id }}" data-room="{{ each.id }}">
          <ul class="swipe-wrap">
            {% for each in content.stayimage %}
              <li><span class="background" data-background="{{ (data.image.destination ~ each.main_image) | absolute }}"></span></li>
            {% endfor %}
          </ul>
          <a class="navigation previous" onclick='mySwipe.prev()'></a>
          <a class="navigation next" onclick='mySwipe.next()'></a>
        </div>
        <div>
          <div class="caption">
            <li>{{ each.tagline }}</li>
            <li>{{ each.name }}</li>
            <li class="currency">{{ each.price }}</li>
            <li>{{ each.description }}</li>
          </div>
          <div class="amenity">
            <ul>
              {% for amenity in each.amenity %}
                <li>
                  <span class="background" data-background="{{ (data.image.destination ~ amenity.fancy_image_120x120) | absolute }}"></span>
                  <p>{{ amenity.name }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block script %}stay{% endblock %}
