{% spaceless %}
{% if not asJson %}
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" data-url="{{ data.constant.url }}">

  <head>
    <title>{{ content.title }}</title>
    <meta name="description" content="{{ content.description }}" />

    <meta itemprop="name" content="{{ content.name }}">
    <meta itemprop="description" content="{{ content.description }}">
    <meta itemprop="image" content="{{ (data.image.destination ~ content.google) | absolute }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ content.user.twitterusername }}">
    <meta name="twitter:title" content="{{ content.name }}">
    <meta name="twitter:description" content="{{ content.description }}">
    <meta name="twitter:creator" content="@{{ content.user.twitterusername }}">
    <meta name="twitter:image:src" content="{{ (data.image.destination ~ content.twitter) | absolute }}">

    <meta property="og:title" content="{{ content.name }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ data.constant.url ~ data.path.argument[0] }}" />
    <meta property="og:image" content="{{ (data.image.destination ~ content.facebook) | absolute }}" />
    <meta property="og:description" content="{{ content.description }}" />
    <meta property="og:site_name" content="{{ data.constant.name }}" />
    <meta property="article:published_time" content="{{ content.created }}" />
    <meta property="article:modified_time" content="{{ content.modified }}" />
    <meta property="article:section" content="{% block section %}About{% endblock %}" />
    <meta property="article:tag" content="{% block tag %}About{% endblock %}" />
    <meta property="article:author" content="{{ content.user.facebookid }}" />
    <meta property="fb:admins" content="{{ data.constant.fbadmin }}" />

    <link rel="stylesheet" href="{{ asset('css/global.css') }}" type="text/css">
    <link rel="stylesheet" media="screen and (min-width: 701px) and (max-width: 1400px)" href="{{ asset('css/medium.css') }}" type="text/css" />
    <link rel="stylesheet" media="only screen and (max-width: 700px), only screen and (max-device-width: 700px)" href="{{ asset('css/mobile.css') }}" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ 'assets/favicons/apple-touch-icon-57x57.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ 'assets/favicons/apple-touch-icon-60x60.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ 'assets/favicons/apple-touch-icon-72x72.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ 'assets/favicons/apple-touch-icon-76x76.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ 'assets/favicons/apple-touch-icon-114x114.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ 'assets/favicons/apple-touch-icon-120x120.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ 'assets/favicons/apple-touch-icon-144x144.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ 'assets/favicons/apple-touch-icon-152x152.png' | absolute }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/favicons/apple-touch-icon-180x180.png' | absolute }}">
    <link rel="icon" type="image/png" href="{{ 'assets/favicons/favicon-32x32.png' | absolute }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ 'assets/favicons/android-chrome-192x192.png' | absolute }}" sizes="192x192">
    <link rel="icon" type="image/png" href="{{ 'assets/favicons/favicon-96x96.png' | absolute }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ 'assets/favicons/favicon-16x16.png' | absolute }}" sizes="16x16">
    <link rel="manifest" href="{{ 'assets/favicons/manifest.json' | absolute }}">
    <link rel="mask-icon" href="{{ 'assets/favicons/safari-pinned-tab.svg' | absolute }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ 'assets/favicons/favicon.ico' | absolute }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{{ 'assets/favicons/mstile-144x144.png' | absolute }}">
    <meta name="msapplication-config" content="{{ 'assets/favicons/browserconfig.xml' | absolute }}">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
    {% block head %}{% endblock %}
  </head>

  <body>
    <div id="loader">
      <div id="icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        	 viewBox="2.2 87 595.5 524.3" enable-background="new 2.2 87 595.5 524.3" xml:space="preserve">
        <g>
        	<path fill="#52C3C2" d="M299.6,568c-7.6,0-14.3-4-18.3-10.4L5.7,120.3c-4.4-6.8-4.4-15.1-0.8-22.3C8.8,91.3,15.9,87,23.9,87h0.8
        	l264.9,51.6c6.8,1.2,13.9,1.2,20.6,0L575.1,87h0.8c7.9,0,15.1,4.4,19.1,11.1c4,7.2,3.6,15.1-0.8,22.3L318.2,558
        	C313.8,564.4,307,568,299.6,568z M23.1,103.2c-2.4,0.4-4,1.9-4.4,2.8c-0.4,0.8-1.2,3.2,0.4,5.5l276.1,437.7c1.5,2.4,3.6,2.8,4.7,2.8
        	c0.8,0,3.2-0.4,4.7-2.8l275.7-437.7c1.5-2.4,0.8-4.7,0-5.5c-0.4-0.8-1.5-2.8-4.4-2.8l-262.9,51.3c-8.7,1.5-17.8,1.5-26.6,0
        	L23.1,103.2z"/>
        </g>
        <g>
        	<line fill="none" stroke="#53C3C2" stroke-width="9" stroke-miterlimit="10" x1="300" y1="162.6" x2="300" y2="318.5"/>
        	<line fill="none" stroke="#53C3C2" stroke-width="9" stroke-miterlimit="10" x1="300" y1="351.5" x2="300" y2="392.5"/>
        	<line fill="none" stroke="#53C3C2" stroke-width="9" stroke-miterlimit="10" x1="300" y1="415.4" x2="300" y2="442.7"/>
        	<line fill="none" stroke="#53C3C2" stroke-width="9" stroke-miterlimit="10" x1="300" y1="470.4" x2="300" y2="488.4"/>
        	<line fill="none" stroke="#53C3C2" stroke-width="9" stroke-miterlimit="10" x1="300" y1="597.7" x2="300" y2="611.3"/>
        </g>
        </svg>

      </div>
    </div>
    <header>
      <a class="ajax-nav" id="logo" title="Logo" href="{{ '' | absolute }}"></a>
      <nav>
        <ul>
          {% for each in data.page %}
          <li><a class="ajax-nav" href="{{ each.route | absolute }}">{{ each.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
    <div class="ajax-container">
        <div id="ajax-content">{% block main %}{% endblock %}</div>
    </div>
    </main>

    <footer>
      <ul>
        {% for each in data.footer %}
        <li><a class="ajax-nav" href="{{ each.route | absolute }}">{{ each.name }}</a></li>
        {% endfor %}
      </ul>
    </footer>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBr8w15LAHx1687bVh1tMk0CyvGWsSBBLk&callback=initMap"></script>
    <script src="{{ asset('js/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
    <script src="{{ asset('js/ajax.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <script src="{{ asset('js/download.js') }}"></script>
    <script type="text/javascript">
    script('{% block script %}{% endblock %}');
    </script>
  </body>
</html>
{% else %}
    {{ json_encode(content.title,block('main'),block('script')) }}
{% endif %}
{% endspaceless %}
